.center-hr {
  margin: 0 auto;
}
.main {
  width: 850px;
  height: 400px;
  margin-top: 200px;
  padding-top: 10px;
  background-color: lightgrey;
}
.text {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.border-area {
  width: 700px;
  height: 300px;
  background-color: green;
  padding-top: 10px;
}
.padding-area {
  width: 550px;
  height: 200px;
  background-color: lightgrey;
  padding-top: 10px;
}
.content-area {
  width: 400px;
  height: 80px;
  padding-top: 40px;
  background-color: white;
}
.border {
  border: 5px dashed darkgrey;
}
